@import url(./reset.css);

/* Global */
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

main {
  background: #F2F2F2;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin: auto;
}

section {
  padding: 96px 0;
}

.title {
  font-size: 3.8rem;
  font-weight: bold;
}

strong { 
  font-weight: bold; 
}


/* Section Hero */
.section-hero {
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  background-image: url(../images/hero-1-fotor-enhance-20250410235554.jpg);
  background-position: center 56%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section-hero__background {
  position: absolute;
  width: 100%;
  inset: 0;
  top: 40%;
  background: transparent linear-gradient(180deg, #2A282800 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

@media (max-width: 992px) { 
  .section-hero__background {
    top: 0;
  }
}

.section-hero__content {
  width: fit-content;
  margin: auto;
  position: absolute;
  left: 50%;
  bottom: 17%;
  transform: translate(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

@media (max-width: 992px) { 
  .section-hero__content {
    width: 100%;
    padding: 0 32px;
    max-width: 700px;
  }

  .section-hero__content br {
    display: none;
  }
}

.section-hero__logo {
  width: 70px;
  margin-bottom: 5px;
}

.section-hero__content h2 {
  font-size: 3.8rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 992px) { 
  .section-hero__content h2 {
    font-size: 3rem;
  }
}

.section-hero__content h2 strong {
  font-weight: 600;
}

.section-hero__button {
  padding: 16px 0;
  background: transparent linear-gradient(259deg, #1FEC08 0%, #10A100 100%) 0% 0% no-repeat padding-box;
  border: 2px solid #4BFF00;
  border-radius: 43px;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #FFFFFF;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  text-decoration: none;
}

/* Section About */
.section-about {
  padding: 140px 0 100px;
}

.section-about__container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 40% 60%;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
}

@media(max-width: 992px) {
  .section-about__container {
    grid-template-columns: 1fr;
  }
}

.section-about__image-wrapper {
  height: 100%;
}

.section-about__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.section-about__content {
  display: grid;
  align-items: center;
  margin: auto;
  padding: 40px 56px;
}

@media(max-width: 992px) {
  .section-about__content {
    padding: 40px 16px;
  }
}

.section-about__title {
  color: #f7941d;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 28px;
}

.section-about__text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 28px;
}

.section-about__logos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.section-about__logo {
  height: 72px;
  object-fit: contain;
}

/* Section Areas */
.section-areas {
  padding: 40px 20px 96px;
  background-color: #f3f3f3;
  text-align: center;
}

.section-areas__container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-areas__title {
  margin-bottom: 30px;
  color: #1a1a1a;
}

.section-areas__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 0 24px;
  margin: 0;
  list-style: none;
}

@media(max-width: 992px) {
  .section-areas__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px;
  }
}

@media(max-width: 576px) {
  .section-areas__list {
    grid-template-columns: 1fr;
    padding: 0 8px;
  }
}

.section-areas__item {
  width: 29%;
  background-color: #fff;
  border-radius: 16px;
  padding: 12px;
  font-size: 1.6rem;
  color: #1a1a1a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: start;
}

@media(max-width: 992px) {
  .section-areas__item {
    width: 100%;
  }
}

/* Section Testimonials */
.section-testimonials {
  background-color: #1E1D1D;
  color: #fff;
  padding: 140px 0 100px;
}

.section-testimonials__video-container {
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 992px) { 
  .section-testimonials__video-container {
    flex-direction: column;
  }
}

.section-testimonials__wrapper-title {
  padding-left: 56px;
}

@media (max-width: 992px) { 
  .section-testimonials__wrapper-title {
    margin: 0 0 56px;
    width: 100%;
    justify-content: start;
    padding-left: 32px;
  }
}

.section-testimonials__title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
}

.section-testimonials__title::after {
  content: "";
  position: absolute;
  inset: 0;
  bottom: 5px;
  width: 100%;
  height: 8px;
  border-radius: 15px;
  background-color: #FF6600;
  transform: translateY(40px);
}

.section-testimonials__videos { 
  transform: translateX(16%);
  display: flex;
  align-items: center;
}

@media (max-width: 992px) { 
  .section-testimonials__videos {
    transform: none;
  }

  .section-testimonials__video-item {
    margin-right: 16px;
  }

  .section-testimonials__video-item:nth-child(1) {
    order: 1;
  }

  .section-testimonials__video-item:nth-child(2) {
    order: 2;
  }
}


#smartplayer {
  border-radius: 20px !important;
}

.section-testimonials__video-item {
  border-radius: 20px;
  width: 340px;
  margin-right: 40px;
}

@media (max-width: 576px) { 
  .section-testimonials__video-item {
    margin-right: 20px;
    width: 280px;
  }
}

.section-testimonials__video-item:nth-child(2) img, 
.section-testimonials__video-item:nth-child(3) {
  transform: scaleY(0.91);
  transform-origin: center;
}

.section-testimonials__video-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: blur(5px);
  opacity: 1;
}

/* Section Testimonials - Quotes*/
.section-testimonials__quotes {
  background: #1E1D1D;
  padding: 40px 0 120px;
  color: #FFFFFF;
}

.section-testimonials__subtitle {
  font-size: 2.7rem;
  font-weight: bolder;
  margin-bottom: 56px;
  padding-left: 56px;
}

@media (max-width: 992px) { 
  .section-testimonials__subtitle {
    padding-left: 32px;
  }
}

.section-testimonials__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  justify-content: center;
  gap: 5rem;
}

@media (max-width: 992px) { 
  .section-testimonials__cards {
    grid-template-columns: 1fr;
  }
}

.section-testimonials__card {
  background-color: #131212;
  padding: 56px;
  width: 100%;
  text-align: left;
  position: relative;
}

@media (max-width: 992px) { 
  .section-testimonials__card {
    padding-left: 32px;
  }
}

.section-testimonials__card::before {
  content: " ";
  position: absolute;
  height: 8px;
  width: 54px;
  background: #FF6600;
  top: 0;
}

.section-testimonials__card .profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.section-testimonials__text {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
}

/* Section Form */
.section-form {
  background-color: #0D0D0D; 
  background-image: url(../images/bg-section-form.png);
  width: 100%;
  height: 130vh;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 992px) { 
  .section-form {
    background-position: 44%;
    margin-bottom: -2px;
  }
}

@media (max-width: 768px) { 
  .section-form {
    background-position: 72% -120px;
  }
}

.section-form .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@media (max-width: 768px) { 
  .section-form .container {
    align-items: center;
    padding-bottom: 24px;
    justify-content: center;
    transform: translateY(24%);
  }
}

.section-form__title {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.section-form__content {
  background: #F9F9F9;
  border-radius: 13px;
  padding: 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 540px;
  width: 100%;
}

.section-form__content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-form__content form label {
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 1.3rem;
  margin-bottom: 5px;
  color: #4B4949;
}

.section-form__content form input[type="text"],
.section-form__content form input[type="email"],
.section-form__content form input[type="file"],
.section-form__content form select, #custom-input-file {
  color: #4B4949;
  border: 1px solid #707070;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 1.4rem;
  outline: none;
  padding: 12px 12px;
  transition: border-color 0.3s;
}

.section-form__content form select {
  padding-left: 10px;
  appearance: none;           
  -webkit-appearance: none;   
  -moz-appearance: none;
}

input::placeholder, select::placeholder{
  color: #4B4949;
}

.section-form__content form input:focus,
.section-form__content form select:focus {
  border-color: #ff6600;
}

#custom-input-file  {
  position: relative;
}

#custom-input-file input {
  position: absolute;
  opacity: 0;
  inset: 0;
  width: 100%;
  height: 100%;
}

.section-form__content form button {
  margin-top: 32px;
  padding: 12px;
  background-color: #ff6600;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.section-form__content form button:hover {
  background-color: #e05500;
}

/* Footer */
.footer {
  background: #0D0D0D;
  color: #FFFFFF;
  font-weight: 300;
}

.footer__content {
  text-align: center;
  padding: 88px 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #BCB8B8;
}
@media (max-width: 768px) { 
  .footer__content {
    font-size: 1.3rem;
  }
}

.footer__content span {
  font-size: 1.4rem;
  margin-top: 8px;
  display: block;
}
@media (max-width: 768px) { 
  .footer__content span {
    font-size: 1.1rem;
  }
}

.footer_copyright {
  padding: 32px;
  font-size: 1.4rem;
}

@media (max-width: 768px) { 
  .footer_copyright {
    padding: 16px;
    font-size: 1rem;
  }
}